<head>
    <title>
        세번째 숙제:: 로또 번호 추천 로직!!
    </title>
</head>
    <h1>추천드릴 번호는 <%= image_tag @img1 %> <%= image_tag @img2 %> <%= image_tag @img3 %> <%= image_tag @img4 %> <%= image_tag @img5 %> <%= image_tag @img6 %> (<%= @pick_num[0] %>, <%= @pick_num[1] %>, <%= @pick_num[2] %>, <%= @pick_num[3] %>, <%= @pick_num[4] %>, <%= @pick_num[5] %>) 입니다. </h1>
    